*{
    margin: 0px;
    padding: 0px;
}
#wrap{
    width: 95%;
    margin: 0px 2%;
    padding: 0px 0.5%;
    height: 100%;
}
#wrap .header{
    display: flex;
    height: 60px;
    border-bottom: solid 2px #eeeeee;
}
.header .header_left{
    width: 15%;
    line-height: 60px;
    font-size: 20px;
    padding-left: 2%;
}
.header .header_right{
    flex: 1;
    text-align: right;
}
.header .header_right ul{
    overflow: hidden;
    line-height: 60px;
    position: absolute;
    right: 80px;
}
.header .header_right li{
    list-style: none;
    float: left;
    font-size: 12px;
}
.header .header_right li.welwords{
    font-size: 12px;
    padding: 0px 5px;
}
.header .header_right li.welwords img{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    display: inline-block;
}
.header .header_right ul li.out a{
    text-decoration: none;
    color: black;
    padding-left: 20px;
}
/*content*/
.content{
    display: flex;
    height: 450px;
}
.content .content_left{
    width: 12%;
    padding-top: 20px;
    border-right: solid 1px #eeeeee;
}
.content .content_left li{
    list-style: none;
    height: 40px;
    line-height: 40px;
    padding: 10px 0px;
    text-align: center;
    font-size: 16px;
}
.content .content_left li a{
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    text-decoration: none;
    color: black;
}
.content .content_left li a:hover{
    border-radius: 20px;
    background-color: #2099e9;
    color: #ffffff;
}
.content .content_right{
    flex: 1;
    background-color:#eceff4;
    background-image:url("../img/detailsbg.png");
    background-position:right bottom ;
    background-repeat: no-repeat;
    padding-top:20px;
    padding-left:40px;
}
.content .content_right .detailsTit{
    width:100%;
    height:30px;
    font-size:12px;
}
.content .content_right  .detailsCard{
    width:90%;
    margin-left:30px;
    margin-bottom: 50px;
    opacity:0.9;
    margin-top: 20px;
}
.content .content_right  .detailsCard:hover{
    opacity:1;
    transition: opacity .2s ease;
}
.content .content_right  .detailsCard .personalInfo{
    background:#fff;
    height:300px;
    box-shadow: rgba(45, 45, 45, 0.15) 6px 8px 20px 0px;
}
.content .content_right  .detailsCard .personalInfo .cardTop{
    height:60px;
    border-bottom:2px solid #f3f9fe;
    font-size:16px;
    padding-left:30px;
}
.content .content_right  .detailsCard .personalInfo .cardTop .tit{
    width:90%;
    line-height:60px;
    float:left;
    color: #2099e9;
    font-weight: bolder;
}
.content .content_right  .detailsCard .personalInfo .cardTop .tit h4{
    font-size: 18px;
}
.content .content_right  .detailsCard .personalInfo .cardBottom{
    overflow: hidden;
}
.content .content_right  .detailsCard .personalInfo .cardBottom .infoList {
    padding-top:2%;
    width:95%;
    padding-left:5%;
    float: left;
}
.content .content_right  .detailsCard .personalInfo .cardBottom .infoList .sex{
    width: 60px;
    height: 20px;
    padding: 0px;
    margin: 0px;
}
.content .content_right  .detailsCard .personalInfo .cardBottom .infoList  li{
    width:30%;
    float: left;
    line-height:40px;
    padding-bottom: 10px;
    list-style: none;
}
.content .content_right  .detailsCard .personalInfo .cardBottom .infoList  li input{
    width: 120px;
}
.content .content_right  .detailsCard .personalInfo .cardBottom .infoList  li label{
    padding-right: 5px;
}
.content .content_right  .detailsCard .personalInfo .cardBottom .infoList  li span{
    font-size: 12px;
    display: inline-block;
    height: 20px;
}
.content .content_right  .detailsCard .personalInfo .cardBottom .pic{
    margin-left:40px;
    margin-top:10px;
    text-align: center;
    width:92px;
    height:124px;
    border:2px solid #e6ebf1;
    float: left;
    text-align: center;
}
.content .content_right  .detailsCard .personalInfo .cardBottom .intro{
    width:70%;
    float:left;
    font-size:14px;
    line-height:30px;
    margin-left:20px;
    color:#555454;
    margin-top:20px;
    border:0;
    overflow-y:hidden;
    padding-left:10px;
    height:100px;
    resize:none;
    outline: none;
    border:2px solid #fff;
}
.content .content_right  .detailsCard .personalInfo .buttons{
    width: 30%;
    height: 50px;
    margin: 0 auto;
    padding-top: 10px;
}
.content .content_right  .detailsCard .personalInfo .buttons input{
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #2099e9;
    color: #FFFFFF;
    border: none;
    margin: 0px 5px;
}