@charset "utf-8";
/* CSS Document */

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#wrap{
    width: 95%;
    margin: 0px 2%;
    padding: 0px 0.5%;
    height: 100%;
}
#wrap .header{
    display: flex;
    height: 60px;
    border-bottom: solid 2px #eeeeee;


}
.header .header_left{
    width: 15%;
    line-height: 60px;
    font-size: 20px;
    padding-left: 2%;
    padding-top:1%;

}
.header .header_right{
    flex: 1;
    text-align: right;
}
.header .header_right ul{
    overflow: hidden;
    line-height: 60px;
    position: absolute;
    right: 80px;
}
.header .header_right li{
    list-style: none;
    float: left;
    font-size: 12px;
}

.header .header_right li.welwords{
    font-size: 12px;
    padding: 0px 5px;

}
.header .header_right li.welwords img{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    display: inline-block;
}
.header .header_right ul li.out a{
    text-decoration: none;
    color: black;
    padding-left: 20px;
    line-height: 60px;
    height:60px;
    display: block;
    float: left;
}
.header .header_right ul li  .exit{
    color:#36b0f4;
    padding-left:5px;
    font-weight: 600;
    font-size:18px;
    line-height: 60px;
    float: left;
}
.header .header_right ul li  .exit:hover{
    color:#72ec20;
}

.info{
    width: 100%;
}
.info .info_table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border:solid 1px #dfdfdf;
}
.info .info_table tr{
    height: 50px;
}
.info .info_table .checkall{
    display: inline-block;
    margin-right: 10px;
    font-style: normal;
    width: 13px;
    height: 13px;
}
.info .info_table .check{
    display: inline-block;
    margin-right: 10px;
    font-style: normal;
    width: 13px;
    height: 13px;
}
.info .info_table tr th{
    font-weight: normal;
    border-right: 1px solid #dfdfdf;
    line-height: 50px;
    text-align: left;
    padding-left: 20px;
    border-bottom: solid 1px #dfdfdf;
}
.info .info_table tr th.change{
    text-align: center;
    padding-left: 0px;
}
.info .info_table tbody tr{
    border-bottom: solid 1px #dfdfdf;
}
.info .info_table tbody tr:nth-of-type(odd){
    background-color: #ffffff;
}
.info .info_table tbody tr:nth-of-type(even){
    background-color: #f7f7f7;
}
.info .info_table tbody tr td{
    padding-left: 20px;
}
.info .info_table tbody tr td input{
    padding-left: 0px;
    width: 36px;
    font-size: 12px;
    height: 30px;
    border: solid 1px #dfdfdf;
    background-color: #eeeeee;
    display: inline-block;
}
.page{
    padding-top: 20px;
}
.page .nums a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    text-align: center;
    margin: 0px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
}
.page .nums span{
    width: 28px;
    height: 28px;
    border: solid 1px #adb3b8;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 2px;
}
.page .nums a:hover{
    color: #ffffff;
    background-color: #2099e5;
}
.header .header_right{
    flex: 1;
    text-align: right;
}
.header .header_right ul{
    overflow: hidden;
    line-height: 60px;
    position: absolute;
    right: 80px;
}
.header .header_right li{
    list-style: none;
    float: left;
}
/*content*/
.content{
    display: flex;
}
.content .content_left{
    width: 12%;
    padding-top: 20px;
    border-right: solid 1px #eeeeee;
}
.content .content_left li{
    list-style: none;
    height: 40px;
    line-height: 40px;
    padding: 10px 0px;
    text-align: center;
    font-size: 16px;
}
.content .content_left li a{
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    text-decoration: none;
    color: black;
}
.content .content_left li .currentNav{
    border-radius: 20px;
    background:#36b0f4;
    transition: background .3s ease, color .3s ease;
    color: #ffffff;
}
.content .content_right{
    flex: 1;
    background-color:#eceff4;
    background-image:url("../../img/detailsbg.png");
    background-position:right bottom ;
    background-repeat: no-repeat;
    padding-top:20px;
    padding-left:40px;
}
.content .content_right .detailsTit{
    width:100%;
    height:30px;
    font-size:12px;
}
.content .content_right  .detailsCard{
    margin-top:10px;
    width:90%;
    margin-left:30px;
    margin-bottom: 50px;
    opacity:0.9;
}
.content .content_right  .detailsCard:hover{
    opacity:1;
    transition: opacity .2s ease;
}
.content .content_right  .detailsCard .personalInfo{
    background:#fff;
    height:200px;
    box-shadow: rgba(45, 45, 45, 0.15) 6px 8px 20px 0px;
}
.content .content_right  .detailsCard .personalInfo .cardTop{
    height:35px;
    border-bottom:2px solid #f3f9fe;
    font-size:14px;
    padding-left:20px;
}
.content .content_right  .detailsCard .personalInfo .cardTop .tit{
    width:90%;
    line-height:35px;
    float:left;
}
.content .content_right  .detailsCard .personalInfo .cardTop .modify{
    float: left;
    height:20px;
    margin-top:8px;
    text-align: center;
    width:50px;
    border-radius: 5px;
    background: #2395eb;
    color:#fff;
    border:0;

}
.content .content_right  .detailsCard .personalInfo .cardTop .modify:hover{
    background:rgba(148,208,243,0.8);
    color:black;
    transition: background .2s ease, color .1s ease;
    cursor: pointer;
}
.content .content_right  .detailsCard .personalInfo .cardBottom .infoList {
    padding-top:2%;
    width:95%;
    padding-left:5%;
    float: left;
}
.content .content_right  .detailsCard .personalInfo .cardBottom .infoList  li{
    width:30%;
    float: left;
    line-height:40px;


}
.content .content_right  .detailsCard .personalInfo .cardBottom .infoList .stuName{
    background:#FFFFFF;
    border:0;
    padding-left:20px;
    width:100px;
    height:22px;
    margin-left:10px;
}
.content .content_right  .detailsCard .personalInfo .cardBottom .pic{
    margin-left:40px;
    margin-top:10px;
    text-align: center;
    width:92px;
    height:124px;
    border:2px solid #e6ebf1;
    float: left;
    text-align: center;
}
.content .content_right  .detailsCard .personalInfo .cardBottom .intro{
    width:70%;
    float:left;
    font-size:14px;
    line-height:30px;
    margin-left:20px;
    color:#555454;
    margin-top:20px;
    border:0;
    overflow-y:hidden;
    padding-left:10px;
    height:100px;
    resize:none;
    outline: none;
    border:2px solid #fff;
}
